/* Base Layout */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #797979;
}

/* Top Navigation Bar */
nav {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    background-color: #ffffff;
}

nav a {
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
    font-weight: bold;
}

/* Form Container */
.container {
    width: 360px;
    height: 600px;
    margin: 30px auto;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 25px;
}

/* Inputs & Labels */
form p {
    margin: 20px 0;
}

label {
    font-weight: 500;
}

input[type="text"] {
    width: 150px;
    height: 25px;
    margin-left: 5px;
}

/* Calculate Button */
button {
    width: 150px;
    height: 35px;
    margin-top: 15px;
    background-color: #fff;
    border: 2px solid #212121;
    border-radius: 8px;
    color: #212121;
    font-size: 1.1rem;
    cursor: pointer;
}

/* Output & Guide Section */
#results {
    font-size: 1.2rem;
    margin-top: 20px;
    color: #fff;
}

#weight-guide {
    margin-top: 25px;
}

#weight-guide h3 {
    margin-bottom: 10px;
}

#weight-guide p {
    margin: 5px 0;
}